<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level%d [%thread] %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="TRACE">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
